<p-table
  #dt1
  [value]="boletas"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [globalFilterFields]="['nomeCliente', 'nomeFundo', 'nomeSituacao']"
>
  <ng-template #caption>
    <div class="flex">
      <p-button
        label="Limpar"
        [outlined]="true"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="header">
          Cód. Operação
          <p-columnFilter
            type="numeric"
            field="id"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input
                type="number"
                pInputText
                [(ngModel)]="codigoOperacao"
                placeholder="Digite o código"
                (ngModelChange)="aplicarFiltros()"
                class="w-full"
              />
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
  
      <th>
        <div class="header">
          ID Cliente
        </div>
      </th>
  
      <th>
        <div class="header">
          CPF/CNPJ Cliente
        </div>
      </th>
  
      <th>
        <div class="header">
          Cliente
          <p-columnFilter
            field="idCliente"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-select
                [(ngModel)]="selectedCliente"
                [options]="clientes"
                optionLabel="nome"
                optionValue="id"
                placeholder="Selecione os clientes"
                (onChange)="aplicarFiltros()"
                class="w-full"
              />
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
  
      <th>
        <div class="header">
          ID Fundo
        </div>
      </th>
  
      <th>
        <div class="header">
          CNPJ Fundo
        </div>
      </th>
  
      <th>
        <div class="header">
          Fundo
          <p-columnFilter
            field="idFundo"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-select
                [(ngModel)]="selectedFundo"
                [options]="fundos"
                optionLabel="nome"
                optionValue="id"
                placeholder="Selecione os fundos"
                (onChange)="aplicarFiltros()"
                class="w-full"
              />
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
  
      <th>
        <div class="header">
          Situação
          <p-columnFilter
            field="idsSituacoes"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect
                [(ngModel)]="selectedSituacoes"
                [options]="situacoes"
                optionLabel="nome"
                optionValue="id"
                placeholder="Selecione as situações"
                (onChange)="aplicarFiltros()"
                class="w-full"
              />
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
  
      <th>
        <div class="header">
          Tipo Operação
          <p-columnFilter
            field="tipoOperacao"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect
                [(ngModel)]="selectedTiposOperacao"
                [options]="tiposOperacao"
                optionLabel="label"
                optionValue="value"
                placeholder="Selecione os tipos"
                (onChange)="aplicarFiltros()"
                class="w-full"
              />
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
  
      <th>
        <div class="header">
          Data
          <p-columnFilter
            field="dataOperacao"
            matchMode="between"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-calendar
                [(ngModel)]="rangeDatas"
                selectionMode="range"
                [numberOfMonths]="2"
                placeholder="Selecione o intervalo"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                (onSelect)="aplicarFiltros()"
                class="w-full"
              />
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
  
      <th>
        <div class="header">
          Valor
          <p-columnFilter
            filterMenuIcon="pi pi-sliders-h"
            type="numeric"
            field="valorFinanceiro"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <div class="flex gap-2 w-full">
                <input
                  type="number"
                  pInputText
                  [ngModel]="valorFinanceiroMin"
                  (ngModelChange)="valorFinanceiroMin$.next($event)"
                  placeholder="Mín."
                  class="w-full"
                />
                <input
                  type="number"
                  pInputText
                  [ngModel]="valorFinanceiroMax"
                  (ngModelChange)="valorFinanceiroMax$.next($event)"
                  placeholder="Máx."
                  class="w-full"
                />
              </div>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  

  <ng-template pTemplate="body" let-boleta>
    <tr>
      <td>{{ boleta.id }}</td>
      <td>{{ boleta.idCliente }}</td>
      <td>{{ boleta.cpfCnpjCliente }}</td>
      <td>{{ boleta.nomeCliente }}</td>
      <td>{{ boleta.idFundo }}</td>
      <td>{{ boleta.cnpjFundo }}</td>
      <td>{{ boleta.nomeFundo }}</td>
      <td>{{ boleta.nomeSituacao }}</td>
      <td>{{ boleta.descricaoTipoOperacao }}</td>
      <td>{{ boleta.dataOperacao | date : "dd/MM/yyyy" }}</td>
      <td>{{ boleta.valorFinanceiro | currency : "BRL" }}</td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="11">Nenhum resultado encontrado.</td>
    </tr>
  </ng-template>
</p-table>
