<!-- Botões acima da tabela -->

<div class="flex-gap">
  <p-button  size="small" icon="pi pi-filter" label="Filtros" (click)="abrirDrawer()" />
  <p-button size="small" severity="danger" variant="text" label="Limpar" [outlined]="true" (click)="clear(dt1)" />
</div>
<app-filtros-selecionados  />
<app-filters
  [(visible)]="drawerVisible"
>
</app-filters>


<p-table
  #dt1
  [value]="boletas"
  dataKey="id"
  [loading]="loading"
  (sortFunction)="customSort($event)"
  [customSort]="true"
  [globalFilterFields]="['nomeCliente', 'nomeFundo', 'nomeSituacao']"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Cód. Operação <p-sortIcon field="id" /></th>
      <th>ID Cliente</th>
      <th >
        CPF/CNPJ Cliente 
      </th>
      <th pSortableColumn="nomeCliente">
        Cliente <p-sortIcon field="nomeCliente" />
      </th>
      <th>ID Fundo</th>
      <th pSortableColumn="cnpjFundo">
        CNPJ Fundo <p-sortIcon field="cnpjFundo" />
      </th>
      <th pSortableColumn="nomeFundo">
        Fundo <p-sortIcon field="nomeFundo" />
      </th>
      <th pSortableColumn="nomeSituacao">
        Situação <p-sortIcon field="nomeSituacao" />
      </th>
      <th pSortableColumn="codigoTipoOperacao">
        Tipo Operação <p-sortIcon field="codigoTipoOperacao" />
      </th>
      <th pSortableColumn="dataOperacao">
        Data <p-sortIcon field="dataOperacao" />
      </th>
      <th pSortableColumn="valorFinanceiro">
        Valor <p-sortIcon field="valorFinanceiro" />
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-boleta>
    <tr>
      <td>{{ boleta.id }}</td>
      <td>{{ boleta.idCliente }}</td>
      <td>{{ boleta.cpfCnpjCliente }}</td>
      <td>{{ boleta.nomeCliente }}</td>
      <td>{{ boleta.idFundo }}</td>
      <td>{{ boleta.cnpjFundo }}</td>
      <td>{{ boleta.nomeFundo }}</td>
      <td>{{ boleta.nomeSituacao }}</td>
      <td>{{ boleta.descricaoTipoOperacao }}</td>
      <td>{{ boleta.dataOperacao | date : "dd/MM/yyyy" }}</td>
      <td>{{ boleta.valorFinanceiro | currency : "BRL" }}</td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="11">Nenhum resultado encontrado.</td>
    </tr>
  </ng-template>
</p-table>
<p-paginator 
  (onPageChange)="aoMudarPagina($event)" 
  [first]="first" 
  [rows]="rows" 
  [totalRecords]="totalRegistros" 
  [rowsPerPageOptions]="rowsPerPageOptions" 
/>
