.header {
    display: flex;
    align-items: center;
}

::ng-deep {

    .p-icon {
        height: 15px !important;
    }

    .p-datatable-tbody>tr>td {
        padding: 16px 8px;
        font-size: 14px;
    }

    .p-datatable-thead>tr>th {
        padding: 8px;
    }
}